$blue-color: rgba(54, 161, 243, 0.996);
$white-color: rgba(255, 255, 255, 0.996);
$black-color: rgba(0, 0, 0, 0.996);
$green-color: rgb(33, 109, 65);

.movie-card{
    background-color: $black-color;
    margin:5%;
    width: 250px;
    align-items: center;    
  .movie-body {
        background-color: lightgray;
        height: 325px;
        width: 225px;  
        align-items: center; 
    }   .movie-img {
            height: 150px;
            width: 150px;
            padding-bottom: 10px;
            align-items: center;    
        }
        .title {
            align-items: center; 
        }
            .open-button {
                background-color: $white-color;
                color:rgba(54, 161, 243, 0.996);
                width: 100%;
            }   .add-button {
                    background-color: $green-color;
                    width: 100%;
                }
}