h4 {
    text-align: center;
    font-weight: bold;
    border: 2px solid black;

}

.movie-card {
    margin-bottom: 15px;
    width: 100%;
    figure {
        position: relative;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin: auto;
        width: 100%;
        img {
            display: block;
            height: 400px;
            margin:auto;
        }
        figcaption {
            text-align: center;
        }
    }
    button {
        display: block;
        margin: auto;
        width: 100%
    }
}


