$red-color: rgb(89, 9, 9);
$black-color: rgba(0, 0, 0, 0.996);
$red-color: rgb(89, 9, 9);

.main-view {
    background-color: $red-color;
}

.movie {
    background-color: lightgrey;
    color: black;
}

.button{
    margin-top: 15px;
}

