$red-color: rgb(89, 9, 9);

.container {
    margin: 5px;
}

h4 {
    text-align: center;
    font-weight: bold;
    border: 2px solid black;

}

.fav-movie {
    margin-bottom: 15px;
    figure {
        position: relative;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin: auto;
        width: 100%;
        img {
            display: block;
            height: 400px;
            margin:auto;
        }
        figcaption {
            text-align: center;
        }
    }
    button {
        display: block;
        margin: auto;
        width: 100%
    }
}

.card {
    margin-bottom: 15px;
}

.edit {
    margin-top: 5px;
}