.Background {
    background-color: rgba(54, 161, 243, 0.996);
    padding-bottom: 15px;
}

.nav {
    background: black;
}

.LogCard {
    background-color: lightgrey;
    color: black;
}

.button{
    margin-top: 15px;
}